body{
    background-color: rgb(247, 247, 247);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0;
}
nav{
    display: grid;    
    justify-items: center;
    align-items: center;
    grid-template-columns:repeat(4,1fr) ;
    background-color: rgb(255, 155, 255);
    height: 50px;
}
.Link{
    text-decoration-line: none;
}
