body{
    background-color: rgb(247, 247, 247);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0;
}
nav{
    display: grid;    
    justify-items: center;
    align-items: center;
    grid-template-columns:repeat(4,1fr) ;
    background: linear-gradient(0deg, rgb(183, 0, 255),rgb(203, 72, 255));
    height: 50px;
}
.Link{
    text-decoration-line: none;
}
